.button-back-profile-age
  display: flex
  flex-direction: row
  justify-content: center
  gap: 20px
  align-items: center
  margin-top: 885px
  position: relative

  .back
    width: 23vw
    padding: 20px 0
    @extend .button-black
    text-align: center

    &.btn
      border-radius: 50px
      @extend .font-medium

    &:hover
      @extend .button-back
