$black: #0c0707
$dark-grey: #242c33

.main-profile-carousel
  position: absolute
  padding-top: 17%
  height: 60vh
  width: 100vw

  .visible-part-carousel-profile
    height: 100%
    width: 100%
    position: relative
    overflow: hidden

    .all-pages-profile
      height: 100%
      width: 20%
      display: flex

      .carousel-profiles-page
        position: relative
        min-width: 76%
        max-width: 76%
        display: flex
        justify-content: center

        .profiles-carousel-item-active
          transform: scale(1.23)
          transition: all 0.3s ease
          margin-top: 23%
          color: $yellow

        .profiles-carousel-item-disabled
          transform: scale(1)
          transition: all 0.3s ease
          margin-top: 10%

        .profiles-carousel-item
          height: 90%

    .link-add-button
      margin-left: 2.7vw
      margin-top: 1vh
      text-decoration: none

      .add-button-carousel-page
        position: relative
        min-width: 76%
        max-width: 76%
        display: flex
        justify-content: center
        align-items: center
        user-select: none

        .add-button-item-active
          transform: scale(1.23)
          transition: all 0.3s ease
          margin-top: 23%

        .add-button-item-disabled
          transform: scale(1)
          transition: all 0.3s ease
          margin-top: 10%

        .add-button-container
          height: 90%

.add-container
  display: flex
  flex-direction: column
  align-items: center
  text-align: center

  .add-image-container
    position: relative

    .profile-user-image
      width: 13vw
      height: 26vh
      background-color: $dark-grey
      border-radius: 50%
      user-select: none

    .profile-user-image-active
      background-color: $yellow

    .add-profile
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      font-size: 9rem
      font-weight: bold
      user-select: none

  .add-button-title
    position: relative
    display: flex
    ustify-content: center
    color: $yellow
    width: 14vw

.arrow-left,
.arrow-right
  position: absolute
  top: 50%
  width: 1.5vw
  height: 3vh
  padding: 10px
  border-radius: 50%
  background-color: $black
  transform: translateY(-50%)
  z-index: 2
  cursor: pointer

  &.arrow-left
    left: 140px

  &.arrow-right
    right: 50px
