.navigation
  position: absolute
  margin: 0
  height: 100vh
  width: 5vw
  z-index: 9999

  .navigation-setting
    position: absolute
    padding-top: 82vh
    left: 27%

  .navigation-user
    position: absolute
    padding-top: 74vh
    left: 20%
