.mobile-menu-button
  position: fixed
  left: 20px

.navigation
  position: fixed
  top: 8%
  left: 0
  z-index: 9999
  display: flex
  flex-direction: column
  align-items: center
  gap: 44%
  width: 9%
  border-radius: 0 100% 100% 0
  overflow: visible

  .navigation-setting,
  .navigation-profile
    position: relative
    transition: opacity 0.3s ease
    object-fit: cover
    user-select: none

  .navigation-setting,
  .navigation-profile
    margin-top: 100px
