$yellow: #FFD919
$black: #14171A
$gray: #A7AEB3
$white: #fff
$green-gradient: #4eff39, #1dbc0c
$orange-gradient: #f4bf38, #e56231
$red-gradient: #f57435, #e63030
$pink-gradient: #dc49c2, #ee1478
$blue-gradient: #39a4e4, #3b30ce
$gradient-circle: circle at 92% 8%

body
  margin: 0
  background: linear-gradient(45deg, #242C33 30%, #14171A 70%, #0B0B0D 100%)
  font-family: Roboto, sans-serif
  color: $white
  min-height: 100vh

.font-large
  font-size: 4rem

.font-medium
  font-size: 1.7rem

.font-small
  margin: 0
  font-size: 1.5rem

.button-back
  background: $yellow
  color: $black

.button-black
  border: 4px solid rgba($gray, 0.5)
  background-color: $black
  color: #A7AEB3

.button-disabled
  border: 4px solid rgba($gray, 0.5)
  background-color: rgba($gray, 0.5)
  color: #A7AEB3

@mixin custom-scrollbar($width, $background, $radius)
  &::-webkit-scrollbar
    width: $width

  &::-webkit-scrollbar-thumb
    background: $background
    border-radius: $radius
