.userAgreement
  margin: 0
  position: relative
  text-align: center
  padding-top: 70px

  .setting-agr
    margin: 0
    color: #FFD919
    font-size: 2.7vh

  .user-agreement
    margin: 0
    font-size: 5.7vh

  .user-agreement-beeline
    font-size: 2.7vh
    color: #A7AEB3

  .content
    display: flex
    justify-content: center
    align-items: center

    .content-text
      margin-right: 7px
      max-width: 800px
      text-align: justify
      padding: 20px
      color: #A7AEB3

    .scrollable
      max-height: 380px
      overflow-y: auto
      padding: 0px

      &::-webkit-scrollbar
        width: 5px

      &::-webkit-scrollbar-track
        background: #14171A

      &::-webkit-scrollbar-thumb
        background: #888
        border-radius: 4px

    .scrollable-true
      max-height: 600px
      padding: 0px
      content: ''
      overflow: auto
      height: 550px

      &::-webkit-scrollbar
        width: 5px

      &::-webkit-scrollbar-track
        background: #14171A

      &::-webkit-scrollbar-thumb
        background: #888
        border-radius: 4px

    .text
      display: inline
      margin: 0
      font-size: 2.7vh

.button-back-all
  position: relative
  display: flex
  justify-content: center
  gap: 3vw
  top: 6vh
  margin-bottom: 20vh

  .button-back-agr
    width: 370px
    height: 80px
    position: relative
    border-radius: 50px
    background: #FFD919
    color: #14171A
    font-size: 2.8vh
    text-align: center

    &:hover
      background: rgba(255, 212, 0, 0.83)

  .view-all
    width: 370px
    padding: 20px 0
    position: relative
    border: 4px solid #A7AEB34D
    border-radius: 50px
    background-color: #14171A
    color: #A7AEB3
    font-size: 2.8vh
    text-align: center
