@import "common"
$gray: #A7AEB34D

.settings-title
  @extend .font-medium
  position: relative
  top: 4vh
  text-align: center

.profile
  @extend .font-large
  text-align: center

.form
  position: relative
  line-height: 7.875rem
  width: 41vw
  height: 41vh
  margin: 0 auto

  .form-user
    display: flex
    justify-content: space-between
    font-size: 1.80rem
    align-items: center

    .button-change
      @extend .button-back
      width: 48.5%
      text-align: center
      padding: 20px 0

      .btn
        @extend .btn

      .user-input
        position: relative
        width: 80%
        background-color: #FFD919
        font-size: 1.7rem
        text-align: center
        border: 1px solid #FFD919
        outline: none

  .change-color
    display: flex
    justify-content: space-between
    font-size: 1.80rem
    align-items: center
    border-top: 1px solid $gray
    border-bottom: 1px solid $gray

  .change-pin
    display: flex
    justify-content: space-between
    font-size: 1.80rem
    align-items: center

  .change
    width: 48.5%
    padding: 20px 0
    text-align: center
    @extend .button-black

    .btn
      @extend .btn
    .user-input
      position: relative
      width: 80%
      color: white
      background-color: $black
      font-size: 1.7rem
      text-align: center
      border: 1px solid $black
      outline: none

.button-back-profile
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-top: 110px

  .save
    width: 19.5%
    padding: 20px 0
    text-align: center
    @extend .button-black
    .btn
      @extend .btn

  .save-disabled
    width: 19.5%
    padding: 20px 0
    text-align: center
    @extend .button-disabled
    .btn
      @extend .btn

  .back
    width: 20vw
    padding: 20px 0
    @extend .button-back
    text-align: center
    margin-top: 10%

    .btn
      @extend .btn

    &:hover
      background: rgba(255, 212, 0, 0.83)

