.form-container
  position: relative
  display: flex
  justify-content: center
  flex-direction: column
  padding: 1.5%
  width: 50%
  margin: 0 auto
  background: linear-gradient(45deg, #2c333a 30%, #20242b 70%, #1a1a1e 100%)

  .form-name
    position: relative
    text-align: center
    margin-bottom: 20px

  form
    width: 100%
    display: flex
    flex-direction: column

    .form-block
      padding-bottom: 2%
