.form-container
  position: relative
  display: flex
  justify-content: center
  flex-direction: column
  padding: 1.5%
  width: 40%
  margin: 0 auto
  background: linear-gradient(45deg, #2c333a 30%, #20242b 70%, #1a1a1e 100%)

  .form-name
    position: relative
    text-align: center
    margin-bottom: 20px

  form
    width: 100%
    display: flex
    flex-direction: column

    .form-block
      padding-bottom: 2%

    .form-row
      display: flex
      justify-content: space-between
      width: 100%
      height: 100%
      gap: 20px

    .form-field
      min-width: 0
      width: 100%

    .form-left
      display: flex
      justify-content: flex-start
      padding-bottom: 2%

    .form-right
      display: flex
      justify-content: flex-end
      padding-bottom: 2%

    .form-center
      display: flex
      justify-content: center
      padding-bottom: 2%
