$dark-grey: #242c33

.user-page-parental
  height: 100vh
  margin: 0
  background: radial-gradient(100% 100% at 0% 0%, #242C33 0%, #14171A 57.77%, #0B0B0D 100%)
  position: absolute
  width: 100%
  display: flex
  flex-direction: column

  .parental-control-title
    @extend .font-small
    color: $yellow
    position: relative
    top: 125px
    text-align: center

  .parental-control
    @extend .font-large
    position: relative
    top: 66px
    text-align: center

  .layout-text
    display: flex
    flex-direction: column
    align-items: center
    height: 120px

    .parent-item-age
      position: relative
      padding-top: 5%
      font-size: 1.8rem
      display: flex
      align-items: center
      gap: 80px
      justify-content: space-between

      .parent-item-key
        position: relative
        font-style: normal

      .parent-item-val
        position: relative
        width: 33%

        .custom-select-wrapper
          position: relative
          width: 300px
          font-size: 1.2rem
          color: $white
          z-index: 1000

          .custom-select-display
            position: relative
            cursor: pointer
            padding: 20px 0
            @extend .button-black
            text-align: center

            &.btn
              border-radius: 50px
              @extend .font-medium

            &:hover
              @extend .button-back

          .custom-select-options
            position: absolute
            top: 100%
            left: 32px
            width: 79%
            background-color: $dark-grey
            box-shadow: 0 0.27777778rem 0.55555556rem 0 rgba($black, 0.5)
            border-radius: 5px
            display: flex
            flex-direction: column
            text-align: center
            z-index: 1000

            .custom-select-option
              padding: 10px 15px
              color: $gray
              font-size: 2rem
              cursor: pointer
              border: 1px solid $black

    .parent-item-checkbox-delete
      position: relative
      padding-top: 3%
      font-size: 1.8rem
      display: flex
      align-items: center
      gap: 353px
      justify-content: space-between

      .parent-item-checkbox-key
        position: relative

      .parent-item-checkbox-val
        margin-left: auto

  .button-back-profile-delete
    display: flex
    flex-direction: row
    justify-content: center
    gap: 10px
    align-items: center
    margin-top: 520px
    position: relative

    .back
      width: 16vw
      padding: 20px 0
      @extend .button-black
      text-align: center

      &.btn
       border-radius: 50px
       @extend .font-medium

      &:hover
       @extend .button-back

    .disabled-save
      width: 20vw
      padding: 20px 0
      text-align: center
      @extend .button-disabled
